# macOS
.DS_Store

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Python environment variables file
.env

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.manifest
*.spec

# Mypy
.mypy_cache/

# Pyre
.pyre/

local/